body[data-v-e62f1e0b] {
  margin: 0;
  padding: 0;
}
#map[data-v-e62f1e0b] {
  bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.mapboxgl-popup-content[data-v-e62f1e0b] {
  word-wrap: break-word;
}
.popup-media[data-v-e62f1e0b] {
  display: block;
  margin-top: 5px;
  width: 100%;
}
