body[data-v-67886191] {
  margin: 0;
  padding: 0;
}
#map[data-v-67886191] {
  bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.mapboxgl-popup-content[data-v-67886191] {
  word-wrap: break-word;
}
[data-v-67886191] .mapboxgl-ctrl-ruler img {
  margin-left: 3px;
}
[data-v-67886191] .mapboxgl-ctrl-ruler .active {
  background-color: #fff44f;
}
.popup-media[data-v-67886191] {
  display: block;
  margin-top: 5px;
  width: 100%;
}
.reset-button[data-v-67886191] {
  left: 10px;
  position: absolute;
  top: 10px;
  z-index: 10;
}
