.filter-modal[data-v-df6253b9] {
  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 12px #0000001a;
  max-width: 600px;
  min-width: 325px;
  padding: 10px;
  position: absolute;
  right: 50px;
  top: 10px;
  z-index: 1000;
}
.filter-modal h4[data-v-df6253b9] {
  color: #333;
  font-size: 1.2em;
  margin: 0;
}
.filter-modal .vue-select[data-v-df6253b9] {
  margin: 5px 0;
  padding: 5px;
  width: 100%;
  --vs-selected-bg: #f9f9f9;
}
.filter-modal .vue-select .option-box[data-v-df6253b9] {
  --vs-multi-value-gap: 4px;
  align-items: center;
  background: var(--vs-multi-value-bg);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: var(--vs-multi-value-text-color);
  display: flex;
  gap: var(--vs-multi-value-gap);
  line-height: var(--vs-multi-value-line-height);
  margin: var(--vs-multi-value-margin);
  padding: var(--vs-multi-value-padding);
}
.filter-modal .vue-select .option-box button[data-v-df6253b9] {
  background: none;
  font-size: 1.25rem;
  transform: translateY(1px);
}
.filter-modal .vue-select .colored-dot[data-v-df6253b9] {
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  margin: 0 5px;
  width: 12px;
}
.filter-modal .vue-select .dot-dropdown[data-v-df6253b9] {
  margin: 5px 5px 0 0;
}
.filter-modal .vue-select .selected-label[data-v-df6253b9] {
  margin-right: 5px;
}
.filter-modal .no-data[data-v-df6253b9] {
  color: #999;
  font-style: italic;
  max-width: 150px;
}
