/* Request successfully submitted modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1040;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 1050;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Tab trigger styles */
.tab-trigger {
  border: 0px;
  outline: none;
  padding: 0px 10px;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #fff;
}

.tab-trigger svg {
  position: absolute;
  height: 40px;
  color: #fff;
}

.tab-trigger .left-curve {
  left: 1px;
  transform: translateX(-100%) rotateY(180deg);
}

.tab-trigger .right-curve {
  right: 1px;
  transform: translateX(100%);
}

/* Hide tab container below 1100px */
@media (max-width: 1100px) {
  .tab-container {
    display: none;
  }
}
